/* Seletores e configurações gerais */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-white);
}

html {
  height:100%;
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}


h2{
font-size: 1rem;
}

/*
  Tipografia
  14px 22px 26px 38px 50px
  altura 1.5 tamanho de pixel
*/


/* Colors */
:root{
  --color-black: #000;
  --color-white: #fff;
  --color-pink: #8a113a;
  --color-gray: #635f5f;
  --color-dark-gray: #3f3a3a;
  --color-dark-high-gray: #353232;
}

/* Header */
#header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
}

.navigation{
  display: flex;
}


/* Content */

#container{

width: 100vw;
height: 100vh;
margin: auto;
/* flex-direction: row; */
/* justify-content: center; */
/* align-items: center; */
width: 45%;
text-align: center;
/* display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 45%; */
/* text-align: center;
width: 45%;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)  */
}


.navigation li > a {
  display: inline-block;
  width: 120px;
  text-align: center;
  margin-right: 35px;
  font-size: 1.2rem;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 5px;
  padding: 20px;
  font-weight: bold;
  transition: 1s;
}


.navigation li > a:hover{
background-color: var(--color-pink);
}


/* Content  */
/* .content-event > h1{
  font-size: 3.0rem;
  font-weight: bold;
  color: var(--color-pink);
  margin: 25px;
  text-shadow: 0px 0px 10px var(--color-pink);
} */


.tittle{
padding: 20px;
position: relative;
/* transform: scale(2); */
color: var(--color-pink);
font-weight: 700;
font-size: 3.5rem;
/* text-transform: uppercase; */
letter-spacing: 2px;
}

.content-event .tittle:before,
.content-event .tittle:after{
position: absolute;
content: attr(data-text);
padding: 20px;
/* width: 100%; */
/* height: 100%; */
top: 0;
left: 0;
color: var(--color-pink);
overflow: hidden;
}

.content-event .tittle:before{
left: 2px;
text-shadow: 1px 0 var(--color-pink);
animation: glitch_before 5s 0s linear reverse infinite;
}


.content-event .tittle::after{
left: -2px;
text-shadow: -2px 0 var(--color-pink);
animation: glitch_after 3s 0s linear reverse infinite;
}


.content-event > p, .profile-org > p{
font-size: 1rem;
line-height: 24px;
}


.contagem-regressiva{
margin-top: 25px;
display: flex;
justify-content: space-around;
text-align: center;
}

.dia,
.hora,
.minuto,
.segundo{
font-size: 2rem;
margin: 10px;
color: var(--color-white);
}

.bg-timer{
width: 60px;
border: 1px solid var(--color-white);
background-color: var(--color-dark-high-gray);
border-radius: 3px;
}

.btn-section{
display: flex;
justify-content: space-around;;
margin: 20px 10px;
}

.btn-config{
display: inline-block;
/* margin: 0px 30px; */
background: linear-gradient(to right, var(--color-pink) 50%, transparent 50%);
background-size: 200%;
background-position: 100% 100%; 
transition: 0.6s;
color: var(--color-white);
font-size: 1.2rem;
border: 2px solid var(--color-white);
width: 200px;
padding: 15px 0;
text-align: center;
border-radius: 4px;
}

.btn-organizadores{
background-image: linear-gradient(to right, transparent 50%, var(--color-pink) 50%);
background-size: 200%;
background-position: 0%;
}


.btn-config:hover{
background-position: 0% 100%;
box-shadow: 0px 0px 20px var(--color-pink);
/* box-shadow: 0 0 10px #ed145b; */
}




.btn-organizadores:hover{
background-position: 100%;
}


/* Organizadores página */
.photo-org{
margin: auto;
width: 300px;
height: 300px;
background: url(../img/foto-jose.jpg);
background-size: 100%;
border-radius: 50%;
box-shadow: 0px 0px 20px var(--color-pink);
}

.photo-org-2{
margin: auto;
width: 300px;
height: 300px;
background: url(../img/foto-murilo.jpg);
background-size: 100%;
border-radius: 50%;
box-shadow: 0px 0px 20px var(--color-pink);
}


.profile-org{
margin: 50px 0;
padding-bottom: 20px;
}

.profile-org span a i{
font-size: 3rem;
color: var(--color-pink);
margin: 0 10px;
}


strong{
font-size: 1.2rem;
}

.photo-org:before{
content: '';
position: absolute;
left: 39.5%;
/* margin: auto; */
width: 300px;
height: 300px;
background: url(../img/foto-jose.jpg) center center no-repeat;
opacity: .1;
border-radius: 50%;
box-shadow: 0px 0px 20px var(--color-pink);
mix-blend-mode: hard-light;
background-size: 100%;
}

.photo-org-2:before{
content: '';
position: absolute;
left: 39.5%;
width: 300px;
height: 300px;
background: url(../img/foto-murilo.jpg) center center no-repeat; ;
opacity: .1;
border-radius: 50%;
box-shadow: 0px 0px 20px var(--color-pink);
mix-blend-mode: hard-light;
background-size: 100%;
}

.photo-org:hover:before{
  animation: animateglitch 0.3s linear infinite;
}

.photo-org-2:hover:before{
animation: animateglitch 0.3s linear infinite;
}

@keyframes animateglitch {
0%{
  background-position: 0 0;
  filter: hue-rotate(0deg);
}
10%{
  background-position: 5px 0;
}
20%{
  background-position: -5px 0;
}
30%{
  background-position: 15px 0;
}
40%{
  background-position: 5px 0;
}
50%{
  background-position: -25px 0;
}
60%{
  background-position: -50px 0;
}
70%{
  background-position: 0 -20px;
}
80%{
  background-position: -50px -20px;
}
81%{
  background-position: 0 0;
}
100%{
  background-position: 0 0;
  filter: hue-rotate(360deg);
}


}


@keyframes glitch_before {
0% {
  clip: rect(132px, auto, 101px, 30px);
}
5% {
  clip: rect(17px, auto, 94px, 30px);
}
10% {
  clip: rect(40px, auto, 66px, 30px);
}
15% {
  clip: rect(87px, auto, 82px, 30px);
}
20% {
  clip: rect(137px, auto, 61px, 30px);
}
25% {
  clip: rect(34px, auto, 14px, 30px);
}
30% {
  clip: rect(133px, auto, 74px, 30px);
}
35% {
  clip: rect(76px, auto, 107px, 30px);
}
40% {
  clip: rect(59px, auto, 130px, 30px);
}
45% {
  clip: rect(29px, auto, 84px, 30px);
}
50% {
  clip: rect(22px, auto, 67px, 30px);
}
55% {
  clip: rect(67px, auto, 62px, 30px);
}
60% {
  clip: rect(10px, auto, 105px, 30px);
}
65% {
  clip: rect(78px, auto, 115px, 30px);
}
70% {
  clip: rect(105px, auto, 13px, 30px);
}
75% {
  clip: rect(15px, auto, 75px, 30px);
}
80% {
  clip: rect(66px, auto, 39px, 30px);
}
85% {
  clip: rect(133px, auto, 73px, 30px);
}
90% {
  clip: rect(36px, auto, 128px, 30px);
}
95% {
  clip: rect(68px, auto, 103px, 30px);
}
100% {
  clip: rect(14px, auto, 100px, 30px);
}
}
@keyframes glitch_after {
0% {
  clip: rect(129px, auto, 36px, 30px);
}
5% {
  clip: rect(36px, auto, 4px, 30px);
}
10% {
  clip: rect(85px, auto, 66px, 30px);
}
15% {
  clip: rect(91px, auto, 91px, 30px);
}
20% {
  clip: rect(148px, auto, 138px, 30px);
}
25% {
  clip: rect(38px, auto, 122px, 30px);
}
30% {
  clip: rect(69px, auto, 54px, 30px);
}
35% {
  clip: rect(98px, auto, 71px, 30px);
}
40% {
  clip: rect(146px, auto, 34px, 30px);
}
45% {
  clip: rect(134px, auto, 43px, 30px);
}
50% {
  clip: rect(102px, auto, 80px, 30px);
}
55% {
  clip: rect(119px, auto, 44px, 30px);
}
60% {
  clip: rect(106px, auto, 99px, 30px);
}
65% {
  clip: rect(141px, auto, 74px, 30px);
}
70% {
  clip: rect(20px, auto, 78px, 30px);
}
75% {
  clip: rect(133px, auto, 79px, 30px);
}
80% {
  clip: rect(78px, auto, 52px, 30px);
}
85% {
  clip: rect(35px, auto, 39px, 30px);
}
90% {
  clip: rect(67px, auto, 70px, 30px);
}
95% {
  clip: rect(71px, auto, 103px, 30px);
}
100% {
  clip: rect(83px, auto, 40px, 30px);
}
}




/* Background Effect */
.bg {
  animation:slide 20s ease-in-out infinite alternate;
  background-image: linear-gradient(-50deg, #000000 50%, #1a0009 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:20s;
}

.bg3 {
animation-duration:15s;
}

.content {
background-color:rgba(255,255,255,.8);
border-radius:.25em;
box-shadow:0 0 .25em rgba(0,0,0,.25);
box-sizing:border-box;
left:50%;
padding:10vmin;
position:fixed;
text-align:center;
top:50%;
transform:translate(-50%, -50%);
}

.content-rules{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.title{
margin: 0.5rem;
}

.cards {
display: flex;
justify-content: center;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 1rem;
}

.card {
background-color: rgba(0,0,0,.25);
border-radius: 0.25rem;
box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.25);
display: flex;
flex-direction: column;
overflow: hidden;
width: 400px;
}

.card_content {
display: flex;
flex: 1 1 auto;
flex-direction: column;
padding: 1rem;
}

.card_title {
font-size: 1.25rem;
font-weight: 300;
letter-spacing: 2px;
}

.card_text {
flex: 1 1 auto;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;
}

.links-card{
  font-weight: bold;
  color: var(--color-pink);
}

.links-card:hover{
  text-decoration: underline;
}

#footer{
display: flex;
font-size: 1rem;
font-weight: 700;
justify-content: space-around;
align-items: center;
/* margin: 4rem;
padding: 2rem; */
}

#footer a > i{
color: var(--color-pink);
font-size: 2.5rem;
}

h1 {
font-family:monospace;
}

@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}




/* Responsividade */


@media screen and (max-width: 1275px) {


.photo-org:before{
  left: 38%;
}

.photo-org-2:before{
  left: 38%;
}


}


@media screen and (max-width: 1115px) {

h2{
  display: none;
}


.btn-section{
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.btn-config{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 90%;
  margin: 0 10px 20px 10px;
}

.tittle{
  font-size: 2rem;
}


.btn-organizadores{
  background: linear-gradient(to right, var(--color-pink) 50%, transparent 50%);
  background-size: 200%;
  background-position: 100% 100%; 
}

.btn-organizadores:hover{
  background-position: 0% 100%;
  box-shadow: 0px 0px 20px var(--color-pink);
}


.photo-org:before{
  left: 35%;
}

.photo-org-2:before{
  left: 35%;
}


}


@media screen and (max-width: 850px) {


  .btn-section{
    flex-direction: column;
    justify-content: center;
    /* margin: 20px auto; */
  }
  


#container{
  width: 70%;
}

.tittle{
  font-size: 3rem;
}

.photo-org{
  width: 300px;
  height: 300px;
}

.photo-org-2{
  width: 300px;
  height: 300px;
}

.photo-org:before{
  left: 32%;
}

.photo-org-2:before{
  left: 32%;
}

}


@media screen and (max-width: 500px) {

#container{
  width: 90%;
}

.tittle{
  font-size: 2rem;
}

.photo-org{
  width: 300px;
  height: 300px;
}

.photo-org-2{
  width: 300px;
  height: 300px;
}

.photo-org:before{
  left: 20%;
}

.photo-org-2:before{
  left: 20%;
}

}



@media screen and (max-width: 499px) {


.photo-org{
  width: 300px;
  height: 300px;
}

.photo-org-2{
  width: 300px;
  height: 300px;
}

.photo-org:before{
  left: 15%;
}

.photo-org-2:before{
  left: 15%;
}

.photo-org:before{
  animation: animateglitch 0.4s linear infinite;
}

.photo-org-2:before{
animation: animateglitch 0.4s linear infinite;
}


}